*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Bricolage Grotesque', sans-serif;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 7vh;

}



.menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu ul li{
    list-style-type: none;
    padding: 5px 15px 5px;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 0.9rem;
}
